@import "../../../node_modules/bootstrap/less/variables";

@brand-primary:         #82A634;


@btn-default-color:     #000;


@navbar-default-color:  #fff;
@navbar-default-bg:     #82A634;
@navbar-default-border: #1DA64A;

@navbar-default-link-color:         #fff;
@navbar-default-link-hover-color:   #fff;
@navbar-default-link-hover-bg:      #1B7340;

@navbar-default-link-active-color:  #fff;
@navbar-default-link-active-bg:     #1B7340;
@navbar-default-link-disabled-color:#fff;

@navbar-default-brand-color:        #fff;
@navbar-default-brand-hover-color:  @brand-primary;
@navbar-default-brand-hover-bg:     #000;

.navbar {
	.bg-info {
    background-color: darken(@brand-info, 30%);
	}
  .bg-danger {
	  background-color: darken(@brand-danger, 30%);
  }
  .text-success {
    color: #fff;
  }
  .navbar-brand:hover, .navbar-brand:focus {
    color: #fff !important;
    background-color: #1B7340 !important;
  }
}

#shifts td a {
  color: #000;
}
table {
  a {
    color: #000;
  }
}

.btn {
  color: #000 !important;
}


//Navbar neues Design (Stand 2019-06-28)
.navbar-default {
  background-image: linear-gradient(180deg, #97C13C 40%, #82A634 60%);
  border-color: #82A634;

  .navbar-brand {
    color: @navbar-default-brand-color;
    &:hover,
    &:focus {
      color: @navbar-default-brand-hover-color;
      background-color: @navbar-default-brand-hover-bg;
    }
  }
}

//Login Panel neues Design (Stand 2019-06-28)
.panel-variant(@border; @heading-text-color; @heading-bg-color; @heading-border) {
  border-color: #82A634;

  & > .panel-heading {
    color: @heading-text-color;
    background-image: linear-gradient(180deg, #97C13C 40%, #82A634 60%);
    border-color: #82A634;

    + .panel-collapse > .panel-body {
      border-top-color: @border;
    }
    .badge {
      color: @heading-bg-color;
      background-color: @heading-text-color;
    }
  }
  & > .panel-footer {
    + .panel-collapse > .panel-body {
      border-bottom-color: @border;
    }
  }
}

//Button neues Design (Stand 2019-06-28)
.btn-primary {
  background-image: linear-gradient(180deg, #97C13C 40%, #82A634 60%);
}

@import "base.less";
